@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>Somos una empresa joven, pero con experiencia en el sector de la moda urbana unisex,de la venta de implementos de aseo
    ,de productos para el hogar situada en el centro de medellin  que ahora se lanza a la venta on-line. Nos anticipamos y desciframos 
    los códigos de las tendencias más actuales para crear nuestros propios looks.</p>
