@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Colombia<br />
    Medellin,Antioquia<br />
    <abbr title="Telefono"></abbr>
    325-00-00
</address>

<address>
    <strong>Support:</strong> <a href="tutiendaonline@example.com">tutiendaonline@example.com</a><br />
    
</address>
