@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/imagenRecortada.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
        </div>
        <div class="item">
            <img src="~/images/mePuseFeliz.jpg" alt="Visual Studio" class="img-responsive glyphicon-align-center" />
            <div class="carousel-caption" role="option">
             
            </div>
        </div>
        <div class="item">
            <img src="~/images/ShopOnline.png" alt="Microsoft Azure" class="img-responsive glyphicon-align-center" />
        
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Productos De Calidad!</h3>
        <ul>
            <li>Contamos con los mejores productos</li>
            <li>para que salir de casa si puedes pedir a domicilio?>Bootstrap</></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Compromiso con el cliente</h3>
        <ul>
            <li>Nos comprometemos a tratar al cliente de la mejor manera!</li>
            <li>El cliente siempre tiene la razón!</li>
            <li>Venga ya! no te contengas de comprar en nuestra tienda online</li>
            <li>Porque nos importas tú mujer,tenemos los mejores productos para ti!</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>velamos por tu seguridad</h3>
        <ul>
            <li>En nuestra tienda se responde por el producto si no llega la puerta de tu casa!</li>
            <li>La mejor publicidad para una tienda es el servicio que presta.</li>
            <li>Cada uno de nuestros clientes tendrá una tienda a su medida.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Patrocinados por</h3>
        <ul>
            <li>Zafari</li>
            <li>Moda a la Moda</li>
            <li>Tatto</li>
        </ul>
    </div>
</div>
