@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/bienvenidos.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
        </div>
        <div class="item">
            <img src="~/images/postres.jpg" alt="Visual Studio" class="img-responsive glyphicon-align-center" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/compra.jpg" alt="Microsoft Azure" class="img-responsive glyphicon-align-center" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img src="~/images/calidad.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
    </div>
    <div class="col-md-6">
        <br />
        <center><h1 class="text-success"><strong>Productos De Calidad</strong></h1></center>
        <br />
        <ul>
            <h5 >
    Contamos con el mejor personal para ofrecerte productos de la mejor calidad,
    trabajamos con pasión para llevar a tu paladar los mejores sabores.
</h5>
        </ul>
    </div>
</div>
<br />
<div class="row">
       <div class="col-md-6">
        <br /><br />
        <center><h1 class="text-success"><strong>Compromiso con el cliente</strong></h1></center>
        <br />
        <ul>
            <li>
                Hacer más fácil la vida de los clientes es parte de una grandiosa experiencia de compra.
            </li>
            <br />
            <li>
                Nos comprometemos a tratar al cliente de la mejor manera.
            </li>
            <br />
            <li>Nos comunicamos con usted para confirmar los pedidos registrados, para brindar confianza</li>
            
        </ul>
    </div>
                <div class="col-md-6">
               <img src="~/images/ccc.png" alt="ASP.NET" class="img-responsive glyphicon-align-center" />

           </div>
  </div>

<div class="row">

    <div class="col-md-5">
        <img src="~/images/pedido.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <br />
        <center><h1 class="text-success"><strong>Realiza tus pedidos</strong></h1></center>
        <br />
        <ul>
            <li>
                <h5>
                    Nuestra página le ofrece la opción de realizar pedidos de nuestros productos.
                </h5>
            </li>
            <li>
                <h5>
                    También le permite validar su disponibilidad.
                </h5>
            </li>
            <li>
                <h5>
                    Registrarse en nuestra página para un mejor servicio
                </h5>
            </li>
        </ul>
    </div>
</div>
<br />

<div class="row">

    <div class="col-md-5">
        
    </div>
    <div class="col-md-2">
        <img src="~/images/logo.jpg" alt="ASP.NET" class="img-responsive glyphicon-align-center" />
    </div>
    <div class="col-md-1">
     
    </div>
</div>